apiVersion: v1
kind: Service
metadata:
  name: fastapi
  labels:
    app.kubernetes.io/name: fastapi
spec:
  selector:
    app.kubernetes.io/name: fastapi
  ports:
    - name: http
      port: 80
      targetPort: 8000
