fullnameOverride: grafana

adminUser: admin
adminPassword: admin

service:
  type: ClusterIP
  port: 80
  targetPort: 3000

persistence:
  enabled: false

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus-server
        isDefault: true
      - name: Tempo
        type: tempo
        access: proxy
        url: http://tempo:3200
      - name: Loki
        type: loki
        access: proxy
        url: http://loki:3100

sidecar:
  dashboards:
    enabled: true
    label: grafana_dashboard
    searchNamespace: observability
    folder: /tmp/dashboards
    provider:
      name: sidecarProvider
      orgid: 1
      folder: Observability
      type: file
      disableDelete: false
      allowUiUpdates: false
      foldersFromFilesStructure: false
